html{
	height: 100%;
	width: 100%;
}
body{
	font-family: Arial, 'Hiragino Sans GB', md-hsgb, 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #424242;
	position: relative;
}
img{
	width: 100%;
}
.page-wrapper{
	height: 100%;
	width: 100%;
	position: relative;
}
.page-block{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.hide, .hidden{
	display: none;
}
@keyframes flipUp{
  0% {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes flipUp{
  0% {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}


@keyframes flipDown{
  0% {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes flipDown{
  0% {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.background-style-1 .upper-block{
	background-color: #212121;
	color: #f5f5f5;
}

.background-style-1 .lower-block{
	background-color: #212121;
	color: #f5f5f5;
}

.background-style-2 .upper-block{
	background-color: #fafafa;
	color: #212121;
}

.background-style-2 .lower-block{
	background-color: #fafafa;
	color: #212121;
}

.upper-block{
	height: 50%;
	width: 100%;
	overflow: hidden;
	position: relative;
	/*-webkit-animation-name: flipUp;*/
	/*animation-name: flipUp;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transform-origin:bottom center 0;
	transform-origin:bottom center 0;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.upper-block:after{
	content: " ";
	display: block;
	margin-top: -50vh;
}
.lower-block{
	height: 50%;
	width: 100%;
	overflow: hidden;
	position: relative;
	/*-webkit-animation-name: flipDown;*/
	/*animation-name: flipDown;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transform-origin:top center 0;
	transform-origin:top center 0;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.lower-block:before{
	content: " ";
	display: block;
	margin-top: -50vh;
}
.page-top-note{
	position: absolute;
	top: 10px;
	left: 20px;
	display: block;
	margin: 0;
	color: #e0e0e0;
	font-size: 1em;
	font-weight: lighter;
	z-index: 0;
}
.page-bottom-note{
	position: absolute;
	bottom: 10px;
	right: 20px;
	display: block;
	margin: 0;
	color: #e0e0e0;
	font-size: 1em;
	font-weight: lighter;
	z-index: 0;
}
.title-block h1{
	margin: 1em 20px 0.1em;
	font-weight: lighter;
}
.title-block h2{
	margin: 0 20px 1em;
	font-weight: lighter;
	font-size: 1em;
}
.title-block img{
	margin-top: 50%;
}
.content-block h3{
	margin: 1em 20px 0.1em;
	font-size: 1.2em;
	font-weight: bold;
}
.content-block p{
	margin: 1em 20px 0.1em;
	font-weight: lighter;
	font-size: 1em;
}
.end-block p{
	margin: 1em 20px 0.1em;
	font-weight: lighter;
	font-size: 1em;
}
.end-block .link{
	position: absolute;
	color: #90caf9;
	font-size: 1.2em;
	font-weight: lighter;
	text-decoration: none;
	line-height: 2em;	
}
.end-block .link:focus, .end-block .link:hover, .end-block .link:visited{
	color: #90caf9;
	text-decoration: none;
}
.end-block .link:after{
	content: ' ';
	display: inline-block;
	height: 0.7em;
	width: 0.7em;
	background-color: #90caf9;
	margin-left: 0.3em;
}
.end-block .link1{
	right: 20px;
	bottom: 3em;
}
.end-block .link2{
	right: 20px;
	bottom: 1em;
}
.music-switch{
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 100;
	width: 20px;
	height: 20px;
}
.music-switch img{
	width: 100%;
}